.navbar-right ul{
	width: 100%;
	align-items: center;
	display: flex;
	gap: 30px;
	list-style: none;
	padding: 0;
}

.navbar-right ul li {
	padding: 0 30px;
	margin: 2px;
	color: var(--text-light);
}

ul li{
	align-items: center;
	display: flex;
	gap: 15px;
}

#avatar{
	object-fit: cover;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

#email{
	color: white;
	font-weight: 400;
	font-size: var(--md);
	margin: 0;
}

@media (max-width: 1140px){
	#email {
		display: none;
	}
}
