@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
	--background-nav: #2A4257;
	--background-body: #E5E5F3;
 	--black: #1E1E1E;
	--text-light : #61333C;
	--date : #5E5E5E;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}


body {
	transition: ease 0.10s;
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: var(--background-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--background-nav);
	display: flex;
	justify-content: space-between;
	padding: 0px;
}

.titlesContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10%;
}

.projectsContainer{
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 10px;
}


