ul li{
	align-items: center;
	display: flex;
	gap: 15px;
}

#avatar{
	object-fit: cover;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

#email{
	color: white;
	font-weight: 400;
	font-size: var(--md);
	margin: 0;
}

@media (max-width: 1140px){
	#email {
		display: none;
	}
}
