.search{
	background-color: #D1EAF1;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.search input {
	font-size: var(--sm);
	background: transparent;
	border: none;
	width: 500px;
	height: 100%;
	padding: 5px 10px;
}

.search input:focus{
	outline-color: #d1e3f1;
	box-shadow: 0px 0px 2px 3px rgba(209,197,209,0.4);
;
}

.search button{
	border: none;
	background: transparent;
}

.search button img {
	width: 26px;
	height: 25px;
	cursor: pointer;
}
