.projects{
	width: 100%;
	background: #E2F4F6;
	border-radius: 10px;
	padding: 0 30px;
	margin: 10px 5%;
	transition: ease 0.4s;
	border: 1px solid #F4EBEB;
}

.projects h2{
	font-weight: 600;
}

.projects:hover{
	box-shadow: 0px 0px 5px 1px rgb(194,194,194, 0.5);
}
